body{
    background-color: rgb(83, 190, 158);
}
h1{
    color: rgb(161, 74, 198);
    background-color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    color: rgb(123, 244, 10);
    background-color: rgb(0, 126, 101);
}
.experiencia{
    color: rgb(196, 21, 94);
}
